@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-playfair: var(--font-playfair);
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent: #d4af37;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Base text selection color */
::selection {
  background-color: var(--accent);
  color: #0a0a0a;
}
